- hosts: webserver
  become: yes
  vars:
    demovar: redhat
  tasks: 
  - name: Config a file
    lineinfile:
      path: /tmp/test.txt
      line: "{{ demovar }}"
      create: yes
    
  - name: run command
    command: echo "{{ demovar }}" > /tmp/testtmp.txt 

  - name: show password
    debug: 
      msg: "{{ user_password }}"
